@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-select-selector {
  height: 56px !important;
}

.ant-select-selection-item,
.ant-select-selection-placeholder {
  padding-top: 22px !important;
  padding-left: 30px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.ant-picker {
  height: 56px;
}

.ant-picker-input {
  padding-left: 29px;
  padding-top: 20px;
}

.ant-picker-input input {
  font-size: 16px !important;
  font-weight: 500 !important;
}
