@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.app {
  @apply relative z-10 pt-10;
}

.flex-center {
  @apply flex items-center justify-center;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.ant-btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.custom-select > .ant-select-selector,
.custom-picker,
.custom-btn,
.custom-input-number {
  height: 56px !important;
}

.custom-select > .ant-select-selector > .ant-select-selection-item,
.custom-select > .ant-select-selector > .ant-select-selection-placeholder {
  padding-top: 22px !important;
  padding-left: 30px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.custom-picker > .ant-picker-input input,
.custom-input-number > .ant-input-number-input-wrap input {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.custom-picker > .ant-picker-input,
.custom-input-number > .ant-input-number-input-wrap {
  padding-left: 30px;
  padding-top: 20px;
}

.crumb {
	clip-path: polygon(0% 0%, 97% 0, 100% 50%, 97% 100%, 0% 100%);
}